.bn-button
	display: block
	padding: 13px 40px
	color: $white
	+fs(15rem)
	line-height: 20px
	font-weight: 700
	+bor-rad(100px)
	text-align: center
	text-transform: uppercase
.bt-primary
	@extend .bn-button
	background: $blue
	&:hover
		background: $lblue
		color: $white
	&.sm
		+fs(15rem)
		padding: 10px 40px
.bt-outline
	@extend .bn-button
	padding: 10px 40px
	border: 3px solid $blue
	&:hover
		background: $blue
		color: $white
	&.sm
		+fs(15rem)
		border-width: 1px
.bt-outline2
	@extend .bt-outline
	color: $blue

.btn-wrap
	+flexbox
	align-items: center
	align-content: center