footer
	.col-12
		+media-breakpoint-down(lg)
			margin-bottom: 30px

	.footer-top
		background: url(../img/ft.jpg) center center / cover no-repeat
		padding: 30px 0
	.footer-title
		+fs(18rem)
		color: $white
		font-family: 'cooper'
		text-transform: uppercase
		margin-bottom: 30px
		&::after
			content: ''
			display: block
			width: 120px
			height: 1px
			background: $white
			margin-top: 10px
	.contact-info
		ul
			li
				+pos(rel,null)
				+fs(16rem)
				font-weight: normal
				line-height: 1.3
				color: $white
				padding-left: 45px
				+flexbox
				align-items: center
				align-content: center
				min-height: 50px
				.icon
					+pos(abs, 50% null null 0)
					+transform(translateY(-50%))
				a
					color: $white
					&:hover
						color: $lblue
	.footer-link
		ul
			li
				padding-left: 20px
				+pos(rel,null)
				margin-bottom: 7px
				&::before
					content: ''
					width: 8px
					height: 8px
					background: color-rgba($white,0.8)
					+bor-rad(100px)
					+pos(abs, 7px null null 0)
				a
					color: $white
					&:hover
						color: $lblue
	.social
		+flexbox()
		align-items: center
		align-content: center
		margin-bottom: 8px
		a
			+ a
				margin-left: 10px
			+flexbox
			align-items: center
			align-content: center
			justify-content: center
			width: 30px
			height: 30px
			+bor-rad(100%)
			background: $white
			color: $blue
			opacity: 0.8
			&:hover
				opacity: 1