body
	padding-top: 60px

header
	background: $blue
	+pos(fix, 0 0 null 0)
	z-index: 1000
	.header-main
	.header-wrap
		+flexbox
		justify-content: space-between
		align-items: center
		align-content: center
	.col-right
		+flexbox
		justify-content: flex-end
		align-items: center
		align-content: center
	.sitelogo
		+flexbox
		align-items: center
		align-content: center
		justify-content: center
		height: 60px
		a
			display: block
			img
				height: 40px

	.menu
		.menu-link
			+flexbox
			align-items: center
			align-content: center
			> li
				+flexbox
				align-items: center
				align-content: center
				height: 60px
				+ li
					> a
						&:before
							content: ''
							display: block
							width: 0
							height: 12px
							border-left: 1px dotted color-rgba($white,0.5)
							+pos(abs, 50% null null 0)
							+transform(translateY(-50%))
				> a
					display: block
					width: 100%
					color: $white
					+fs(16rem)
					font-weight: 500
					text-transform: uppercase
					padding: 0px 15px
					+pos(rel,null)
				.sub
					display: none
					+pos(fix, 60px 0 null 0)
					z-index: 1100
					background: $white
					box-shadow: 0 5px 15px color-rgba($black,0.45)
					.sub-container
						@extend .container
						+flexbox
						ul
							width: 330px
							padding: 10px 0
							background: #f3f3f3
							+pos(rel,null)
							&:before
								content: ''
								display: block
								width: 1000px
								background: #f3f3f3
								+pos(abs, 0 100% 0 null)
							li
								+pos(rel,null)
								a
									display: block
									padding: 15px 15px
									+fs(16rem)
									line-height: 20px
									font-weight: 500
								&:hover
									background: $white
									&:before
										content: ''
										display: block
										width: 1000px
										background: #fff
										+pos(abs, 0 100% 0 null)
						.sub-img
							width: calc(100% - 330px)
				&:hover
					background: $lblue
					.sub
						display: block
	
	.language
		+flexbox
		align-items: center
		align-content: center
		a
			+fs(13rem)
			font-weight: 500
			color: #5e76a5
			+ a
				&:before
					content: '/'
					color: #5e76a5
					margin: 0px 5px
			&.active
				color: $white
	
	.search
		margin-left: 15px
		.search-toggle
			color: $white
			+fs(16rem)


