.resource-page
	padding: 50px 0
	.text-24
		+fs(24rem)
		font-weight: 500
	
.vnl-slide
	.slick-arrow
		+pos(abs, 50% null null null)
		+transform(translateY(-50%))
		+fs(0)
		&::before
			content: ''
			+fs(16rem)
			width: 40px
			height: 40px
			+flexbox()
			align-items: center
			align-content: center
			justify-content: center
			color: $white
			+bor-rad(3px)
			background: color-rgba($black,0.3)
		&:hover
			&::before
				background: $blue
		&.slick-prev
			left: -30px
			&::before
				content: '\f104'
		&.slick-next
			right: -30px
			&::before
				content: '\f105'