section.home-banner
	.banner
		.item
			img(src="img/bn1.jpg", alt="Banner" title="banner")
		.item
			img(src="img/bn3.jpg", alt="Banner" title="banner")
		.item
			img(src="img/bn2.jpg", alt="Banner" title="banner")