section.home-banner
	.banner-img
		.banner-slide
			.item
				img(src="img/bn.jpg", alt="")
			.item
				img(src="img/bn.jpg", alt="")
			.item
				img(src="img/bn.jpg", alt="")
			.item
				img(src="img/bn.jpg", alt="")
			.item
				img(src="img/bn.jpg", alt="")
		.caption-wrap
			.container
				.caption
					h1.big khẳng định
						br
						|Vị trí tiên phong
					h2.med Ngành chế biến dừa Việt Nam
					h3.small CTY TNHH  Lương Quới đã không ngừng đẩy mạnh đầu tư dây chuyền sản xuất, nâng cao chất lượng sản phẩm với mong muốn đem lại sản phẩm tốt nhất đến tay người tiêu dùng.
					.bn-action
						a.bt-primary(href="#!") Liên hệ
						a.bt-outline(href="#!") Tìm hiểu thêm