section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br1.jpg) center center no-repeat;background-size:cover")
	.container
		h3.page-name 
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Báo cáo
			li
				a(href="#!") Báo cáo thường niên