footer
	section.subscribe-wrap
		.subscribe
			.module-title Đăng ký nhận email thông báo
			.subscribefrm
				input(type="text" placeholder="Nhập địa chỉ email")
				button.subscribebutton Đăng ký
	section.footer-main
		.container
			.footer-contact
				ul
					li © 2017 Công ty cổ phần Lọc hóa dầu Bình Sơn - BSR.
					li Địa chỉ: Số 208 - đại lộ Hùng Vương - thành phố Quảng Ngãi - tỉnh Quảng Ngãi
					li Điện thoại: 
						a(href="tel:(84-255)3825825") (84-255)3825825 
						|Email: 
						a(href="mailto:info@bsr.com.vn") info@bsr.com.vn
					//- li.stats Lượt truy cập: 33.940.250   Đang online : 1.455