footer
	.footer-top
		.container
			.row
				.col-12.col-lg-4
					.footer-col
						.footer-title Thông tin liên hệ
						.contact-info
							ul
								li
									.icon
										img(src="img/fic1.png", alt="")
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre, Việt Nam
								li
									.icon
										img(src="img/fic1.png", alt="")
									a(href="#!") (+84).28.3762.8850
								li
									.icon
										img(src="img/fic1.png", alt="")
									a(href="#!") support@luongquoi.vn
				.col-12.col-lg-2
					.footer-col
						.footer-title Lương QUới
						.footer-link
							ul
								li
									a(href="#!") Giới thiệu
								li
									a(href="#!") Vùng nguyên liệu
								li
									a(href="#!") Hệ thống chất lượng
								li
									a(href="#!") Tin tức & sự kiện
								li
									a(href="#!") Cơ hội nghề nghiệp
								li
									a(href="#!") Hình ảnh & Video

				.col-12.col-lg-2
					.footer-col
						.footer-title Sản phẩm
						.footer-link
							ul
								li
									a(href="#!") Nước dừa
								li
									a(href="#!") Dầu dừa
								li
									a(href="#!") Dừa sấy giòn
								li
									a(href="#!") Mỹ phẩm
								li
									a(href="#!") sản phẩm khác
								li
									a(href="#!") Tin khuyến mãi
				.col-12.col-lg-4
					.footer-col
						.footer-title Kết nối với chúng tôi
						.content.text-white
							p Chúng tôi luôn tìm cách kết nối với những người có cùng sự quan tâm đến một tương lai bền vừng
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
						.footer-link
							ul
								li
									a(href="#!") Tuyển nhà phân phối
								li
									a(href="#!") Hệ thông phân phối
								li
									a(href="#!") Liên hệ