header
	.header-top
		.container
			.header-wrap
				div
				.col-right
					//- nav.top-menu
						ul
							li
								a(href="#!") Công bố thông tin khác
							li
								a(href="#!") Lịch sự kiện
					.search
						.search-toggle
						.searchbox
							input.searchinput(type="text" placeholder="Tìm kiếm...")
							.searchbutton
								i.fa.fa-search
	.header-main
		.container
			.header-wrap
				.btn-showmenu
				.logo-wrap
					.sitelogo
						a(href="index.html")
							img(src="img/logo.png", alt="")
					.logo-text
						a(href="index.html")
							h4 Công ty cổ phần lọc hóa dầu
							h3 Bình Sơn
				nav.menu
					ul.menu-link
						li
							a(href="#!") Đại hội cổ đông
						li.has-sub
							a(href="#!") Báo cáo
							.sub
								ul
									li
										a(href="#!") Báo cáo thường niên
									li
										a(href="#!") Báo cáo tài chính
									li
										a(href="#!") Báo cáo quản trị
									//- li
										a(href="#!") Báo cáo phân tích CTCK
						li.has-sub
							a(href="#!") Tài liệu dành cho nhà đầu tư
							.sub
								ul
									li
										a(href="#!") Bản tin nhà đầu tư
									li
										a(href="#!") Tài liệu thuyết trình
									li
										a(href="#!") Điều lệ - Quy chế
						li
							a(href="#!") Công bố thông tin khác
						li
							a(href="#!") Thông tin cổ phiếu
							//- .sub
								ul
									li
										a(href="#!") Thông tin cổ phiếu
									li
										a(href="#!") Lịch sử cổ tức
									li
										a(href="#!") Cơ cấu cổ đông
						li.has-sub
							a(href="#!") Hỗ trợ thông tin
							.sub
								ul
									li
										a(href="#!") Thông tin liên hệ
									li
										a(href="#!") Câu hỏi thường gặp