header
	.header-main
		.container
			.header-wrap
				.btn-showmenu
				.sitelogo
					a(href="#!")
						img(src="img/logo.png", alt="")
				.menu
					ul.menu-link
						li
							a(href="#!") Giới thiệu
							.sub
								.sub-container
									ul
										li
											a(href="#!") Về công ty
										li
											a(href="#!") Lịch sử phát triển
										li
											a(href="#!") Hệ thống quản lí chất lượng
										li
											a(href="#!") Đơn vị trực thuộc
										li
											a(href="#!") Hệ thống quản trị
									.sub-img(style="background: url(img/subimg.jpg) center center / cover no-repeat")
						li
							a(href="#!") Sản phẩm
						li
							a(href="#!") Vùng nguyên liệu
						li
							a(href="#!") Hệ thống quản lý chất lượng
						li
							a(href="#!") Tin tức & Sự kiện
						li
							a(href="#!") Phát triển bền vững
				.col-right
					.language
						a.active(href="#!") VN
						a(href="#!") ENG
					.search
						.search-toggle 
							i.fa.fa-search
						.search-wrap
							.searchbox
								input.searchinput
								button.searchbutton