.breadcrumb-wrap
	.br-banner(style="background: url(img/br4.jpg) center center /cover no-repeat")

section.about-page
	.container 
		.staff-detail
			.content 
				h1.big-name.text-center Doug McMillon
				h2.big-title.text-center President and CEO, Walmart Inc.

				.content-float
					.big-img 
						img(src="https://cdn.corporate.walmart.com/dims4/WMT/21986a0/2147483647/strip/true/crop/5475x7300+0+527/resize/300x400!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Feb%2F6c%2Fba43220544d9b0588abd6b5512d4%2Fdoug-mcmillon.jpg", alt="")
						a.btn-download(href="#!") <i class="fa fa-cloud-download" aria-hidden="true"></i>
					p Doug McMillon is president and CEO of Walmart Inc.
					p Under Doug’s leadership, Walmart is making life easier for busy families and building trust with customers. It is investing heavily in associate wages, benefits and education—including a debt-free, dollar-a-day college program and an expanded parental leave policy. And, it launched an ambitious program, Project Gigaton, to combat climate change and work with suppliers to avoid 1 billion metric tons of emissions worldwide.
					p Doug is a longtime champion of Walmart’s customers, its associates and the company’s culture. He was named president and CEO in 2014. From 2009 to 2014 he was president and CEO of Walmart International, and from 2005 to 2009 he served as president and CEO of Sam’s Club. He has worked at Walmart for 30 years, starting as a teenager unloading trucks for an hourly wage. He went on to serve in senior leadership roles in all of Walmart’s business segments. He remains a merchant at heart.
					p Doug is the chairman of Business Roundtable, an association of chief executive officers of America’s leading companies. He serves on the boards of directors of the Consumer Goods Forum, the U.S.-China Business Council and Crystal Bridges Museum of American Art. He also sits on the advisory board of the Tsinghua University School of Economics and Management in Beijing, China.
					p Originally from Jonesboro, Arkansas, Doug graduated from the University of Arkansas with a bachelor’s degree in business administration, and a master’s degree in business administration from the University of Tulsa.
					hr
					h4.text-center Follow Doug 
					.text-center 
						a.text-blue(href="#!") linkedIn 
						|  | 
						a.text-blue(href="#!") Instagram
						|  | 
						a.text-blue(href="#!") Facebook
					.banner-slide.staff-slide 
						.item
							.img 
								img(src="img/cl1.jpg", alt="")
						.item
							.img 
								img(src="img/cl1.jpg", alt="")
						.item
							.img 
								img(src="img/cl1.jpg", alt="")
