section.about-story
	.bg(style="background: url(img/ab1.jpg) center center /cover no-repeat")
	.container
		.row
			.col-12.col-lg-8.col-xl-6
				.block-content
					.home-title.text-white Câu chuyện về lương quới
					.content.text-white
						p Công ty TNHH Chế Biến Dừa Lương Quới được sở hữu 100% vốn tư nhân, được thành lập chính thức vào năm 1997 bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm chất lượng cao. 
						p Công ty không chỉ khai thác chế biến dựa trên nguồn nguyên liệu sẵn có tại vùng đất Bến Tre mà còn tiếp tục nuôi dưỡng để duy trì nguồn nguyên liệu dừa Việt Nam ngày càng dồi dào hơn. 
						p Đây là chuỗi giá trị cộng hưởng mà tập thể nhân viên công ty luôn trân trọng, dưỡng nuôi để làm nên những sản phẩm tinh túy nhất chắt lọc từ quả dừa cho cuộc sống. 
section.about-page
	.container
		.vision
			.row.no-gutters
				.col-12.col-md-4
					.vision-col
						.home-title.text-white Tầm nhìn
						.content.text-white
							p Đưa thương hiệu Vietcoco trở thành thương hiệu dừa tin cậy số 1 trong lòng người tiêu dùng tại Việt Nam và thâm nhập sản phẩm với thương hiệu Vietcoco đến hơn 20 quốc gia, vùng lãnh thổ. 
				.col-12.col-md-4
					.vision-col
						.home-title.text-white Tầm nhìn
						.content.text-white
							p Đưa thương hiệu Vietcoco trở thành thương hiệu dừa tin cậy số 1 trong lòng người tiêu dùng tại Việt Nam và thâm nhập sản phẩm với thương hiệu Vietcoco đến hơn 20 quốc gia, vùng lãnh thổ. 
				.col-12.col-md-4
					.vision-col
						.home-title.text-white Tầm nhìn
						.content.text-white
							p Đưa thương hiệu Vietcoco trở thành thương hiệu dừa tin cậy số 1 trong lòng người tiêu dùng tại Việt Nam và thâm nhập sản phẩm với thương hiệu Vietcoco đến hơn 20 quốc gia, vùng lãnh thổ. 
		.story
			.home-title.sm.text-center.text-black Câu chuyện thương hiệu từ người sáng lập công ty
			.block-img
				img(src="img/ab2.jpg", alt="")
			.content
				.quote.w-75.text-center Tôi tên là Cù Văn Thành, người sáng lập của Công ty TNHH Chế Biến Dừa Lương Quới. Từ khi còn bé, tình yêu và hoài bão của tôi đã gắn liền với cây dừa trước ngõ.
			.btn-wrap.justify-content-center
				a.bt-outline2.bt-read.sm(href="#!") Đọc câu chuyện
		.journey
			.home-title Hành trình của những quả dừa Bến Tre  
			.block-img
				img.w-100(src="img/jn.png", alt="")
