.breadcrumb-wrap
	.br-banner(style="background: url(img/br2.jpg) center center /cover no-repeat")

section.about-page
	.container
		.htcl
			.row
				.col-12.col-md-6
					.block-img
						img(src="img/cl1.jpg", alt="")
				.col-12.col-md-6
					.block-content
						.home-title Hệ thống quản lý chất lượng
						.content
							p Sản phẩm của công ty được quản lý bằng hệ thống quản lí chất lượng tiên tiến như: BRC, IFS, ISO22000, HACCP…
		.htcl
			.row
				.col-12.col-md-6.col-lg-5
					.block-content
						.home-title kiểm soát nguyên liệu đầu vào
						.content
							p Quản lý nguyên liệu đầu vào là chốt chặn đầu tiên trong quy trình kiểm soát chất lượng sản phẩm của phòng quản lý chất lượng.  Công việc chủ yếu của nhóm là tiếp nhận những nguyên liệu, bao bì, vật tư, vật liệu đúng theo tiêu chuẩn quy định, đáp ứng kịp thời nhu cầu của sản xuất.
				.col-12.col-md-6.col-lg-7
					.block-img
						img(src="img/cl2.jpg", alt="")
		.htcl
			.row
				.col-12.col-md-6.col-lg-6
					.block-img
						img(src="img/cl3.jpg", alt="")
				.col-12.col-md-6.col-lg-6
					.block-content
						.home-title Quản lý Chất lượng dây chuyền sản phẩm
						.content
							p Tập thể nhân viên quản lý chất lượng dây chuyền sản phẩm luôn đảm bảo việc kiểm soát chặt chẽ trong quy trình sản xuất, đáp ứng những yêu cầu nghiêm ngặt của các tiêu chuẩn quốc tế như ISO 22000:2005, BRC, Kosher, Halal,...
							p Hiện sản phẩm của Công ty TNHH Chế biến dừa Lương Quới xuất khẩu đến hơn 30 nước trên thế giới như Hoa Kỳ, Châu Âu,  Nam Mỹ, Nam Phi, Trung Đông, Nhật Bản, Thái Lan, Hàn Quốc,… Và 4 năm liền từ năm 2010- 2013 Công ty đều được Bộ Công Thương xét chọn đạt danh hiệu “Doanh nghiệp xuất khẩu uy tín”. 
		.htcl
			.home-title chứng nhận hệ thống quản lý chất lượng
			.cert-slide-2
				.item
					a.cert(href="#!")
						img(src="img/c1.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c1.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c1.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c1.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c1.png", alt="")
		.htcl
			.home-title giải thưởng và chứng nhận chất lượng
			.cert-slide-3
				.item
					a.cert(href="#!")
						img(src="img/c2.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c2.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c2.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c2.png", alt="")
				.item
					a.cert(href="#!")
						img(src="img/c2.png", alt="")

