.breadcrumb-wrap
	.br-banner(style="background: url(img/br3.jpg) center center /cover no-repeat")

section.about-page
	.container
		.row
			.col-12.col-lg-4
				.home-title Đơn vị trực thuộc
				.content
					p Qua hơn 20 năm hình thành và phát triển, CTY TNHH Chế Biến Dừa Lương Quới đã trở thành một trong những công ty sản xuất kinh doanh các sản phẩm dừa có quy mô hàng đầu Việt Nam và đóng góp to lớn vào sự phát triển của đại phương cũng như ngành chế biến dừa Việt Nam.
					p Các đơn vị trực thuộc của chúng tôi gồm 1 chi nhánh, 1 cửa hàng giới thiệu sản phẩm và 1 công ty con luôn sáng tạo, nỗ lực không ngừng để thương hiệu vươn đến tầm cao mới.

			.col-12.col-lg-8
				.location-list
					.row
						.col-12.col-md-6
							.location
								.img
									img(src="img/l1.jpg", alt="")
								.caption
									.name Trụ sở chính
									ul
										li
											.icon
												img(src="img/fic1.png", alt="")
											span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
										li
											.icon
												img(src="img/fic1.png", alt="")
											span (+84).28.3762.8850
						.col-12.col-md-6
							.location
								.img
									img(src="img/l1.jpg", alt="")
								.caption
									.name Trụ sở chính
									ul
										li
											.icon
												img(src="img/fic1.png", alt="")
											span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
										li
											.icon
												img(src="img/fic1.png", alt="")
											span (+84).28.3762.8850
						.col-12.col-md-6
							.location
								.img
									img(src="img/l1.jpg", alt="")
								.caption
									.name Trụ sở chính
									ul
										li
											.icon
												img(src="img/fic1.png", alt="")
											span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
										li
											.icon
												img(src="img/fic1.png", alt="")
											span (+84).28.3762.8850
						.col-12.col-md-6
							.location
								.img
									img(src="img/l1.jpg", alt="")
								.caption
									.name Trụ sở chính
									ul
										li
											.icon
												img(src="img/fic1.png", alt="")
											span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
										li
											.icon
												img(src="img/fic1.png", alt="")
											span (+84).28.3762.8850
