.breadcrumb-wrap
	.br-banner(style="background: url(img/br4.jpg) center center /cover no-repeat")

section.about-page
	.container
		.qt-quote
			.content.text-center
				p Để tạo dựng được sự thành công và phát triển trong hơn 20 năm qua là thành quả từ nỗ lực của tất cả đội ngũ công nhân viên công ty, sự lãnh đạo sáng suốt và quyết đoán của Ban giám đốc và những nhân sự chủ chốt – những người luôn cháy hết mình vì sự thành công của công ty.
				p Công ty TNHH Chế Biến Dừa Lương Quới đã xây dựng hệ thống các nguyên tắc cơ bản về quản trị nhằm bảo vệ quyền lợi hợp pháp cho toàn thể công nhân viên cũng như thiết lập những chuẩn mực về hành vi, đạo đức nghề nghiệp của Ban Giám Đốc, Ban Kiểm Soát, cán bộ quản lý của công ty. Quy chế này nhằm đảm bảo sự phát triển bền vững và xây dựng văn hóa riêng của công ty Dừa Lương Quới.
		.staff-vip
			.img
				img(src="img/cu.jpg", alt="")
			.caption
				.name Ông CÙ VĂN THÀNH
				.cv Giám đốc công ty
				.des Sinh năm 1961. Giá trị cốt lõi trong kinh doanh chính là xây dựng được niềm tin từ các cấp nhân viên đến khách hàng của mình. 
		
		.staff-list
			.row
				.col-12.col-md-3
					.staff
						.img
							img(src="img/cu.jpg", alt="")
						.caption
							.name Ông CÙ VĂN THÀNH
							.cv Giám đốc công ty
				.col-12.col-md-3
					.staff
						.img
							img(src="img/cu.jpg", alt="")
						.caption
							.name Ông CÙ VĂN THÀNH
							.cv Giám đốc công ty
				.col-12.col-md-3
					.staff
						.img
							img(src="img/cu.jpg", alt="")
						.caption
							.name Ông CÙ VĂN THÀNH
							.cv Giám đốc công ty
				.col-12.col-md-3
					.staff
						.img
							img(src="img/cu.jpg", alt="")
						.caption
							.name Ông CÙ VĂN THÀNH
							.cv Giám đốc công ty

