.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.about-page
	.container
		.history-wrap
			.history-nav
				.item
					.year 1994
				.item
					.year 1995
				.item
					.year 1997
				.item
					.year 1999
				.item
					.year 2000
				.item
					.year 2006
				.item
					.year 2009
				.item
					.year 2011
				.item
					.year 2012
				.item
					.year 2013
				.item
					.year 2014
				.item
					.year 2015
				.item
					.year 2016
				.item
					.year 2018
			.history-content
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
				.item
					.row
						.col-12.col-md-6
							.block-img
								img.w-100(src="img/h1.jpg", alt="")
						.col-12.col-md-6
							.block-content
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập. 
									p Sản phẩm dầu dừa nguyên chất được khách hàng trong và ngoài nước quan tâm và đánh giá cao. 
									p Để đáp ứng nhu cầu thị trường, công ty quyết định nâng công suất từ 200 - 2.000 tấn/năm.
