.breadcrumb-wrap
	.br-banner(style="background: url(img/br5.jpg) center center /cover no-repeat")

section.system-page
	.container
		.system-panel
			.sys-tab
				a.tab-item.active(href="#!") Nội địa
				a.tab-item(href="#!") Quốc tế
			.sys-filter
				.module-title ĐÃ CÓ MẶT TẠI CÁC SIÊU THỊ VIỆT NAM
				.module-filter
					.filter-props
						.filter
							select(name="")
								option --- Tỉnh / Thành phố ---
						.filter
							select(name="")
								option --- Quận / Huyện ---
						.filter
							select(name="")
								option --- Sản phẩm ---
					.filter-button
						.bt-search Tìm kiếm
			.sys-result
				.result-list
					ul
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
						li.result-item
							.name Trụ sở chính
							ul
								li
									.icon <i class="fa fa-map-marker" aria-hidden="true"></i>
									span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
								li
									.icon <i class="fa fa-phone" aria-hidden="true"></i>
									span (+84).28.3762.8850
				.result-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8797.506251434179!2d106.68390203806719!3d10.823282354667496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9e7b4f2adbd6adb!2zRW1hcnQgR8OyIFbhuqVw!5e0!3m2!1svi!2s!4v1597081085822!5m2!1svi!2s' width='100%' height='520' frameborder='0' style='border:0;' allowfullscreen aria-hidden='false' tabindex='0')
