//- include ../_layout/banner

section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/bn1.jpg) center center no-repeat;background-size:cover")
	.container
		h3.page-name 
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Quan hệ nhà đầu tư

.container.mt-5
	.row.home-gutters
		.col-12.col-lg-4
			section.home-about
				.home-title Giới thiệu
				.img
					img(src="img/hc.jpg", alt="")
				.caption
					ul.link-list
						li
							a(href="#!") Giới thiệu doanh nghiệp
		.col-12.col-lg-8
			section.home-chart
				.home-title Thông tin cổ phiếu
				.text-center
					img(src="img/hchart.jpg", alt="")
		.col-12.col-lg-4
			section.home-event
				.home-title Lịch sự kiện
				.img
					img(src="img/he.jpg", alt="")
				.caption
					ul.next-event
						li
							a(href="#!") 
								time 25-05-2020
								span Lorem ipsum dolor sit amet.
						li
							a(href="#!") 
								time 30-05-2020
								span Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sed!
						li
							a(href="#!") 
								time 01-06-2020
								span Lorem ipsum dolor sit amet consectetur adipisicing elit.

		.col-12.col-lg-4
			section.home-event
				.home-title Báo cáo mới nhất
				.img
					img(src="img/hr.jpg", alt="")
				.caption
					ul.link-list
						li
							a(href="#!") Báo cáo tài chính Q1/2020
						li
							a(href="#!") Báo cáo kết quả kinh doanh đầu năm 2020
						//- li
							a(href="#!") Báo cáo cuộc họp hội đồng quản trị Q1/2020
						li
							a(href="#!") Báo cáo thường niên năm 2019
		.col-12.col-lg-4
			section.home-document
				.home-title Công bố thông tin mới nhất
				.img
					img(src="img/ho.jpg", alt="")
				.caption
					ul.link-list
						li
							a(href="#!") Bản tin nhà đầu tư
						li
							a(href="#!") Tài liệu thuyết trình
						li
							a(href="#!") Điều lệ - Quy chế
