.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.media-page
	.container
		nav.picture-nav
			ul
				li.active
					a(href="#!") Nhà máy
				li 
					a(href="#!") Chi nhánh
				li 
					a(href="#!") Showroom
				li 
					a(href="#!") Đại lý
		.album-list
			.row
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
				.col-12.col-md-4
					.album
						a.img(href="#!")
							img(src="img/p1.jpg", alt="")
						.caption
							.name
								a(href="#!") Lorem ipsum dolor sit amet.
			.btn-wrap.justify-content-center
				a.bt-primary.bt-load.sm(href="#!") xem thêm