section.contact-page
	.contact-info
		.bg(style="background: url(img/lhbg.jpg) center center / cover no-repeat")
		.container
			.row.align-items-center
				.col-12.col-md-6
					.block-text
						.intro-text Hãy liên lạc với chúng tôi bằng cách gửi email hoặc điền vào mẫu. Chúng tôi sẽ phản hồi bạn sớm.
						a.email(href="#!") luongquoi@luongquoi.vn
						.phone
							span Contact us:
							a(href="#!") 02753.626.319
				.col-12.col-md-6
					.block-form
						.contact-form
							.module-title Để lại lời nhắn cho chúng tôi
							.form-wrap
								.form-group
									input(type="text" placeholder="Họ & tên (*)")
								.form-group
									input(type="text" placeholder="Email (*)")
								.form-group
									input(type="text" placeholder="Điện thoại (*)")
								.form-group
									input(type="text" placeholder="Tiêu đề (*)")
								.form-group
									textarea(name="", cols="", rows="4" placeholder="Nội dung")
								.btn-wrap
									input(type="submit", value="Gửi thông tin")
	.contact-location
		.container
			.location-list
				.row
					.col-12.col-md-6.col-lg-3
						.location.active(data-target="log1")
							.img
								img(src="img/l1.jpg", alt="")
							.caption
								.name Trụ sở chính
								ul
									li
										.icon
											img(src="img/fic1.png", alt="")
										span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
									li
										.icon
											img(src="img/fic1.png", alt="")
										span (+84).28.3762.8850
					.col-12.col-md-6.col-lg-3
						.location(data-target="log2")
							.img
								img(src="img/l1.jpg", alt="")
							.caption
								.name Trụ sở chính
								ul
									li
										.icon
											img(src="img/fic1.png", alt="")
										span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
									li
										.icon
											img(src="img/fic1.png", alt="")
										span (+84).28.3762.8850
					.col-12.col-md-6.col-lg-3
						.location(data-target="log3")
							.img
								img(src="img/l1.jpg", alt="")
							.caption
								.name Trụ sở chính
								ul
									li
										.icon
											img(src="img/fic1.png", alt="")
										span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
									li
										.icon
											img(src="img/fic1.png", alt="")
										span (+84).28.3762.8850
					.col-12.col-md-6.col-lg-3
						.location(data-target="log4")
							.img
								img(src="img/l1.jpg", alt="")
							.caption
								.name Trụ sở chính
								ul
									li
										.icon
											img(src="img/fic1.png", alt="")
										span Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
									li
										.icon
											img(src="img/fic1.png", alt="")
										span (+84).28.3762.8850
			.location-map
				.log-map.active(id="log1")
					img(src="img/map.jpg", alt="")
				.log-map(id="log2")
					img(src="img/map.jpg", alt="")
				.log-map(id="log3")
					img(src="img/map.jpg", alt="")
				.log-map(id="log4")
					img(src="img/map.jpg", alt="")