.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.product-page
	.container
		.product-pic.text-center
			img(src="img/dua.png", alt="")
		.row.justify-content-center
			.col-12.col-lg-11
				.content
					.quote.text-center Sản phẩm dừa của Lương Quới được sản xuất từ nguồn nguyên liệu Dừa Bến Tre có độ tuổi từ 11-12 tháng. Tất cả những phần trên cây dừa đều được khai thác triệt để tạo ra những sản phẩm giá trị gia tăng cao. Hãy cùng tìm hiểu những sản phẩm tinh túy ấy từ nhà máy của công ty TNHH Chế Biến Lương Quới nhé.
		.btn-wrap.justify-content-center
			a.bt-primary.sm.view-product(href="#!") Xem sản phẩm