.breadcrumb-wrap
	.br-banner(style="background: url(img/br7.jpg) center center /cover no-repeat")

section.product-page
	.container
		.product-detail
			.content
				img.m-0(src="img/prpic1.jpg", alt="")
				img.m-0(src="img/prpic2.jpg", alt="")
		.product-other
			.home-title Sản phẩm khác
			.other-slide
				.item
					a.product(href="#!")
						img(src="img/sp1.png", alt="")
				.item
					a.product(href="#!")
						img(src="img/sp1.png", alt="")
				.item
					a.product(href="#!")
						img(src="img/sp1.png", alt="")
				.item
					a.product(href="#!")
						img(src="img/sp1.png", alt="")
				.item
					a.product(href="#!")
						img(src="img/sp1.png", alt="")