.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.product-page
	.container
		.product-section
			.row.justify-content-center
				.col-12.col-md-6.col-lg-8
					.product-list
						.row.justify-content-end
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
				.col-12.col-md-6.col-lg-4
					.block-content
						.home-title Thực phẩm
						.content
							p Hương thơm tự nhiên và đầy đủ chất dinh dưỡng tốt cho sức khỏe, ko chứa gluten, không biến đổi gen, không chất bảo quản.
							p Người bạn đồng hành tuyệt vời cho hành trình chăm sóc gia đình qua từng bữa ăn thơm ngon mà vẫn tốt cho sức khỏe.

section.product-page.s2
	.container
		.product-section
			.row
				.col-12.col-md-6.col-lg-4
					.block-content
						.home-title.text-right Nước giải khát
						.content.text-right
							p Đảm bảo nguồn nguyên liệu dừa tươi nguyên chất không biến đuổi gen, không sử dụng chất bảo quản. Giữ lại tối đa hương vị và giá trị dinh dưỡng sản phẩm. 
							p Tốt cho sức khỏe, hỗ trợ hệ miễn dịch, giảm huyết áp, giúp tim mạch hoạt động khỏe mạnh.
				.col-12.col-md-6.col-lg-8
					.product-list
						.row
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện

section.product-page
	.container
		.product-section
			.row.justify-content-center
				.col-12.col-md-6.col-lg-8
					.product-list
						.row.justify-content-end
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
				.col-12.col-md-6.col-lg-4
					.block-content
						.home-title Mỹ phẩm
						.content
							p Hương thơm tự nhiên và đầy đủ chất dinh dưỡng tốt cho sức khỏe, ko chứa gluten, không biến đổi gen, không chất bảo quản.
							p Người bạn đồng hành tuyệt vời cho hành trình chăm sóc gia đình qua từng bữa ăn thơm ngon mà vẫn tốt cho sức khỏe.


section.product-page.s2
	.container
		.product-section
			.row
				.col-12.col-md-6.col-lg-4
					.block-content
						.home-title.text-right Sản phẩm khác
						.content.text-right
							p Đảm bảo nguồn nguyên liệu dừa tươi nguyên chất không biến đuổi gen, không sử dụng chất bảo quản. Giữ lại tối đa hương vị và giá trị dinh dưỡng sản phẩm. 
							p Tốt cho sức khỏe, hỗ trợ hệ miễn dịch, giảm huyết áp, giúp tim mạch hoạt động khỏe mạnh.
				.col-12.col-md-6.col-lg-8
					.product-list
						.row
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện
							.col-12.col-md-4
								.product
									a.img(href="#!")
										img(src="img/sp1.png", alt="")
									.caption
										.name
											a(href="#!") Dầu dừa tinh luyện