.breadcrumb-wrap
	.br-banner(style="background: url(img/br7.jpg) center center /cover no-repeat")

section.product-page
	.product-detail
		section.detail-section
			.bg(style="background:url(img/prbg.png) center bottom no-repeat")
			.container
				.pr-logo.text-center.mb-4
					img(src="img/prlogo.png", alt="")
				.row
					.col-12.col-md-6.col-lg-5
					.col-12.col-md-6.col-lg-7
						.pr-desciption
							.content
								p 
									strong Bơ dừa 
									|có vị ngọt tự nhiên của dừa, hỗn hợp đậm đặc giàu chất xơ, protein, vitamin không chỉ mang đến cảm giác trải nghiệm khi thưởng thức mà còn mang lại nhiều lợi ích sức khỏe to lớn. Thực phẩm này có hầu hết các tính chất có lợi tương tự như dầu dừa. Ví dụ, nó có thể giảm cân, tăng cường miễn dịch và hơn thế nữa
								h4.text-blue.text-bold.mb-0 Công nghệ sản xuất:
								p.mb-0 Bơ dừa được xay nghiền từ cơm dừa tươi mà không có bất kỳ sự tác động hóa học nào.
		section.detail-guide
			.container
				.row
					.col-12.col-md-6.col-lg-4
						.content
							h4.text-blue.text-bold.mb-1 Hướng dẫn sử dụng:
							p 
								strong Bơ dừa 
								|là sự lựa chọn hoàn hảo cho các món  kem dừa, súp kem hay các món chay cần độ béo và sánh.
							p Dùng phết lên các loại rau củ, bánh mì, thêm vào nước sốt, các món salad trộn, đá xay hay các món nướng để tăng hương vị. 
							h4.text-blue.text-bold.mb-1 Quy cách đóng gói:
							p 
								strong Bơ dừa 
								| được đóng gói trong keo nhựa hoặc keo thủy tinh với các dung tích khác nhau, phù hợp với nhu cầu đa dạng của khách hàng. 
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
		section.detail-section
			.bg(style="background:url(img/prbg2.png) center bottom no-repeat")
			.container
				.pr-logo.text-center.mb-4
					img(src="img/prlogo.png", alt="")
				.row
					.col-12.col-md-6.col-lg-7
						.pr-desciption
							.content
								p 
									strong Bơ dừa 
									|có vị ngọt tự nhiên của dừa, hỗn hợp đậm đặc giàu chất xơ, protein, vitamin không chỉ mang đến cảm giác trải nghiệm khi thưởng thức mà còn mang lại nhiều lợi ích sức khỏe to lớn. Thực phẩm này có hầu hết các tính chất có lợi tương tự như dầu dừa. Ví dụ, nó có thể giảm cân, tăng cường miễn dịch và hơn thế nữa
								h4.text-blue.text-bold.mb-0 Công nghệ sản xuất:
								p.mb-0 Bơ dừa được xay nghiền từ cơm dừa tươi mà không có bất kỳ sự tác động hóa học nào.
					.col-12.col-md-6.col-lg-5
		section.detail-guide
			.container
				.row
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.content
							h4.text-blue.text-bold.mb-1 Hướng dẫn sử dụng:
							p 
								strong Bơ dừa 
								|là sự lựa chọn hoàn hảo cho các món  kem dừa, súp kem hay các món chay cần độ béo và sánh.
							p Dùng phết lên các loại rau củ, bánh mì, thêm vào nước sốt, các món salad trộn, đá xay hay các món nướng để tăng hương vị. 
							h4.text-blue.text-bold.mb-1 Quy cách đóng gói:
							p 
								strong Bơ dừa 
								| được đóng gói trong keo nhựa hoặc keo thủy tinh với các dung tích khác nhau, phù hợp với nhu cầu đa dạng của khách hàng. 
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
		section.detail-section.no-bg
			//- .bg(style="background:url(img/prbg2.png) center bottom no-repeat")
			.container
				.pr-logo.text-center.mb-4
					img(src="img/prlogo.png", alt="")
				.row
					.col-12.col-md-6.col-lg-7
						img(src="img/primg1.png", alt="")
					.col-12.col-md-6.col-lg-5
						.content
							p 
								strong Bơ dừa 
								|có vị ngọt tự nhiên của dừa, hỗn hợp đậm đặc giàu chất xơ, protein, vitamin không chỉ mang đến cảm giác trải nghiệm khi thưởng thức mà còn mang lại nhiều lợi ích sức khỏe to lớn. Thực phẩm này có hầu hết các tính chất có lợi tương tự như dầu dừa. Ví dụ, nó có thể giảm cân, tăng cường miễn dịch và hơn thế nữa
							h4.text-blue.text-bold.mb-0 Công nghệ sản xuất:
							p.mb-0 Bơ dừa được xay nghiền từ cơm dừa tươi mà không có bất kỳ sự tác động hóa học nào.
					.col-12.col-md-6.col-lg-4
						.pr-desciption
							.content
								p 
									strong Bơ dừa 
									|có vị ngọt tự nhiên của dừa, hỗn hợp đậm đặc giàu chất xơ, protein, vitamin không chỉ mang đến cảm giác trải nghiệm khi thưởng thức mà còn mang lại nhiều lợi ích sức khỏe to lớn. Thực phẩm này có hầu hết các tính chất có lợi tương tự như dầu dừa. Ví dụ, nó có thể giảm cân, tăng cường miễn dịch và hơn thế nữa
								h4.text-blue.text-bold.mb-0 Công nghệ sản xuất:
								p.mb-0 Bơ dừa được xay nghiền từ cơm dừa tươi mà không có bất kỳ sự tác động hóa học nào.
					.col-12.col-md-6.col-lg-8
						img(src="img/primg2.png", alt="")
		section.detail-section
			.bg(style="background:url(img/prbg3.png) center bottom no-repeat")
			.container
				.pr-logo.text-center.mb-4
					img(src="img/prlogo.png", alt="")
				.row
					.col-12.col-md-6.col-lg-7
						.pr-desciption
							.content
								p 
									strong Bơ dừa 
									|có vị ngọt tự nhiên của dừa, hỗn hợp đậm đặc giàu chất xơ, protein, vitamin không chỉ mang đến cảm giác trải nghiệm khi thưởng thức mà còn mang lại nhiều lợi ích sức khỏe to lớn. Thực phẩm này có hầu hết các tính chất có lợi tương tự như dầu dừa. Ví dụ, nó có thể giảm cân, tăng cường miễn dịch và hơn thế nữa
								h4.text-blue.text-bold.mb-0 Công nghệ sản xuất:
								p.mb-0 Bơ dừa được xay nghiền từ cơm dừa tươi mà không có bất kỳ sự tác động hóa học nào.
					.col-12.col-md-6.col-lg-5
		section.detail-section.no-bg
			.container
				.img.text-center
					img(src="img/prsologan.png", alt="")
		section.detail-guide
			.container
				.row
					.col-12.col-md-6.col-lg-4
						.content
							h4.text-blue.text-bold.mb-1 Hướng dẫn sử dụng:
							p 
								strong Bơ dừa 
								|là sự lựa chọn hoàn hảo cho các món  kem dừa, súp kem hay các món chay cần độ béo và sánh.
							p Dùng phết lên các loại rau củ, bánh mì, thêm vào nước sốt, các món salad trộn, đá xay hay các món nướng để tăng hương vị. 
							h4.text-blue.text-bold.mb-1 Quy cách đóng gói:
							p 
								strong Bơ dừa 
								| được đóng gói trong keo nhựa hoặc keo thủy tinh với các dung tích khác nhau, phù hợp với nhu cầu đa dạng của khách hàng. 
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
					.col-12.col-md-6.col-lg-4
						.guide-img
							img(src="img/prguide.jpg", alt="")
		section.product-cert
			.container
				.home-title chứng nhận hệ thống quản lý chất lượng
				.cert-slide-4
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
					.item
						a.cert(href="#!")
							img(src="img/c1.png", alt="")
		section.detail-section.no-bg.product-other
			.container
				.home-title Sản phẩm khác
				.other-slide
					.item
						a.product(href="#!")
							img(src="img/sp1.png", alt="")
					.item
						a.product(href="#!")
							img(src="img/sp1.png", alt="")
					.item
						a.product(href="#!")
							img(src="img/sp1.png", alt="")
					.item
						a.product(href="#!")
							img(src="img/sp1.png", alt="")
					.item
						a.product(href="#!")
							img(src="img/sp1.png", alt="")
