.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.evo-page
	.container
		.home-title.text-center Con người
		.evo-list
			.row
				.col-12.col-md-4
					.evo-item
						.img
							img(src="img/evo.jpg", alt="")
						.caption
							.name Con người phía sau những sản phẩm dừa Vietcoco
				.col-12.col-md-4
					.evo-item
						.img
							img(src="img/evo.jpg", alt="")
						.caption
							.name Con người phía sau những sản phẩm dừa Vietcoco
				.col-12.col-md-4
					.evo-item
						.img
							img(src="img/evo.jpg", alt="")
						.caption
							.name Con người phía sau những sản phẩm dừa Vietcoco
				.col-12.col-md-4
					.evo-item
						.img
							img(src="img/evo.jpg", alt="")
						.caption
							.name Con người phía sau những sản phẩm dừa Vietcoco