.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.evo-page
	.container
		.evo-feature
			.row.align-items-end
				.col-12.col-md-4
					.evo
						img(src="img/cn1.png", alt="")
				.col-12.col-md-4
					.evo
						img(src="img/cn2.png", alt="")
				.col-12.col-md-4
					.evo
						img(src="img/cn3.png", alt="")
		.evo-quote
			.content
				p Chúng tôi đặt sự phát triển bền vững làm trọng tâm trong chiến lược kinh doanh. bởi vì chúng tôi tin rằng chỉ có phát triển bền vững mới đảm bảo cho những thành công lớn hơn. và không làm tổn hại đến khả năng đáp ứng nhu cầu cho thế hệ tương lai.