.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.news-page
	.container
		.row
			.col-12.col-lg-8.col-xl-9
				.news-list
					.row
						.col-12.col-md-8
							.news.big
								a.img(href="#!")
									img(src="img/n1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
									.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
									a.link(href="#!") Xem chi tiết
						.col-12.col-md-4
							.news
								a.img(href="#!")
									img(src="img/n1.jpg", alt="")
								.caption
									time 30 tháng 4, 2019
									.name
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
									//- .des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
									//- a.link(href="#!") Xem chi tiết
				.news-slide
					.item
						.news
							a.img(href="#!")
								img(src="img/n1.jpg", alt="")
							.caption
								time 30 tháng 4, 2019
								.name
									a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
					.item
						.news
							a.img(href="#!")
								img(src="img/n1.jpg", alt="")
							.caption
								time 30 tháng 4, 2019
								.name
									a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
					.item
						.news
							a.img(href="#!")
								img(src="img/n1.jpg", alt="")
							.caption
								time 30 tháng 4, 2019
								.name
									a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
					.item
						.news
							a.img(href="#!")
								img(src="img/n1.jpg", alt="")
							.caption
								time 30 tháng 4, 2019
								.name
									a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
					.item
						.news
							a.img(href="#!")
								img(src="img/n1.jpg", alt="")
							.caption
								time 30 tháng 4, 2019
								.name
									a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
				.news-list2.line
					.news
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
					.news
						a.img(href="#!")
							img(src="img/n1.jpg", alt="")
						.caption
							time 30 tháng 4, 2019
							.name
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp..... của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
			.col-12.col-lg-4.col-xl-3
				.qc
					.item
						a.img(href="#!")
							img(src="img/qc1.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc2.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc3.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc4.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc5.jpg", alt="")