.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.product-page
	.container
		.evo-content-page
			.home-title.text-center Con người: 
			.content.text-center
				p Công ty Dừa Lương Quới hằng năm đã tạo ra công việc cho hàng ngàn người tại Bến Tre nhằm mục tiêu thúc đẩy môi trường làm việc đa dạng và cơ hội cho tất cả mọi người được chứng tỏ bản thân bất kể giới tính, tôn giáo, dân tộc, địa vị xã hội, khuynh hướng tính dục hay tuổi tác.
				//- p Hoạt động liên quan:
		.evo-relative
			a.relative-item(href="#")
				.img
					img(src="img/bn.jpg", alt="")
				.caption
					.name Những con người góp phần tạo nên sản phẩm dừa chất lượng
			a.relative-item(href="#")
				.img
					img(src="img/bn.jpg", alt="")
				.caption
					.name Những con người góp phần tạo nên sản phẩm dừa chất lượng
			a.relative-item(href="#")
				.img
					img(src="img/bn.jpg", alt="")
				.caption
					.name Những con người góp phần tạo nên sản phẩm dừa chất lượng
			a.relative-item(href="#")
				.img
					img(src="img/bn.jpg", alt="")
				.caption
					.name Những con người góp phần tạo nên sản phẩm dừa chất lượng
