.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

.evo-page
	.container
		.evo-feature
			.row.align-items-end
				.col-12.col-md-4
					.evo
						img(src="img/cn1.png", alt="")
				.col-12.col-md-4
					.evo
						img(src="img/cn2.png", alt="")
				.col-12.col-md-4
					.evo
						img(src="img/cn3.png", alt="")
		.evo-quote
			.content
				p Chúng tôi đặt sự phát triển bền vững làm trọng tâm trong chiến lược kinh doanh. bởi vì chúng tôi tin rằng chỉ có phát triển bền vững mới đảm bảo cho những thành công lớn hơn. và không làm tổn hại đến khả năng đáp ứng nhu cầu cho thế hệ tương lai.
		.evo-img.text-center
			img(src="img/ptimg.png", alt="")
		.home-title Thay đổi để ngày càng tốt hơn
		.content
			p Chúng tôi tin rằng những thách thức lớn trên thế giới không thể giải quyết bởi 1 công ty hay cá nhân ai. Tuy nhiên, mong muốn trở thành 1 phần tạo ra nhận thức để thay đổi luôn nằm trong tiêu chí hành động của cả tập thể công nhân viên. Chúng tôi sẽ thực hiện bằng những hành động cụ thể, kết hợp mọi người lại với nhau để thảo luận cùng tiến bộ, và bằng cách hợp tác mang lại tác động tích cực đến kinh Doanh, xã hội và môi trường.
			p Công ty Chế Biến Dừa Lương Quới trong những năm qua đã có những kết quả tuyệt vời từ các hoạt động xã hội. Trong suốt quá trình thực hiện, chúng tôi luôn học hỏi và nhận thức để làm cho mọi thứ trở nên đúng đắn. Bên cạnh việc khai thác, chúng tôi luôn hướng tới xây dựng và cải tạo cả về vật chất lẫn con người để không dừng lại ở thế hệ chúng tôi mà còn cho thế hệ sau này có được những điều tốt đẹp nhất.
			.row
				.col-12.col-md-6
					img(src="img/pt1.jpg", alt="")
				.col-12.col-md-6
					img(src="img/pt2.jpg", alt="")