.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.news-page
	.container
		.row
			.col-12.col-lg-8.col-xl-9
				.news-detail
					.news-name Công ty TNHH chế biến dừa lương quới tham gia lễ hội dừa năm 2019
					.share-wrap
						.share
							img(src="img/share.png", alt="")
						time 30 tháng 4, 2019
					a.en-click(href="#!") *Please click here for English*
					.news-content
						.content
							p LỄ HỘI DỪA tỉnh Bến Tre lần thứ V năm 2019 sẽ diễn ra trong 7 ngày, từ ngày 14/11/2019 đến ngày 20/11/2019 tại thành phố Bến Tre. Sự kiện được chính thức khai mạc vào lúc 20 giờ ngày 16/11/2019 và bế mạc vào lúc 20 giờ ngày 20/11/2019 tại Công viên An Hội, thành phố Bến Tre, tỉnh Bến Tre.
							.img
								img.w-100(src="img/nc1.jpg", alt="")
							p Với chủ đề “Cây dừa trên đường hội nhập và phát triển bền vững” đây là sự kiện văn hóa quan trọng của tỉnh nhằm mục đích tôn vinh cây dừa, sản phẩm dừa và những cá nhân trong hoạt động kinh tế - xã hội gắn liền với cây dừa, đặc biệt là nghệ nhân, người thợ, người nông dân đã gắn bó hết mình cho cây dừa.
							p Thông qua các hoạt động của LỄ HỘI DỪA giúp Bến Tre có nhiều điều kiện phát huy lợi thế xuất khẩu các sản phẩm từ dừa, giúp mọi người hiểu sâu hơn về văn hóa dừa và hình ảnh, tiềm năng, thế mạnh của Bến Tre.
							p Lễ hội gồm các hoạt động chính như: Lễ khai mạc, bế mạc; Liên hoan Ẩm thực dừa Nam Bộ; Triển lãm sản phẩm dừa và Hội chợ Thương mại; Không gian dừa; Hội thảo “Xây dựng, khai thác, phát triển nhãn hiệu sản phẩm đặc thù tỉnh Bến Tre”, “Về chuỗi giá trị cây dừa”, “Trải nghiệm du lịch vườn dừa Bến Tre”,…
							p Với hơn 22 năm kinh nghiệm trong lĩnh vực sản xuất, kinh doanh và xuất nhập khẩu các sản phẩm từ dừa, CÔNG TY CHẾ BIẾN DỪA LƯƠNG QUỚI được vinh dự trở thành “ĐƠN VỊ TÀI TRỢ DANH DỰ” cho LỄ HỘI DỪA lần V năm 2019. Tham gia sự kiện này, công ty mang đến các sản phẩm uy tín, chất lượng từ trái dừa, đạt các tiêu chuẩn quốc tế như BRC, IFS, ISO 22000, HACCP,  USDA, EU, JAS Organic,... với các sản phẩm nổi bật như: Cơm dừa nạo sấy, Dầu dừa nguyên chất, Dầu dừa (cooking oil), Nước dừa, Nước cốt dừa, đặc biệt là dòng Sữa dừa uống hộp giấy Tetra Pak và Dừa sấy giòn với thương hiệu VIETCOCO – đạt danh hiệu THƯƠNG HIỆU QUỐC GIA năm 2018.
							p Nhân sự kiện này, hưởng ứng lời kêu gọi của Thủ tướng Chính phủ đến các cơ quan, chính quyền các địa phương, doanh nghiệp, đồng bào cả nước chung tay hành động CHỐNG RÁC THẢI NHỰA, CÔNG TY CHẾ BIẾN DỪA LƯƠNG QUỚI cũng giới thiệu sản phẩm Nước uống tinh khiết hộp giấy Tetra Pak thân thiện môi trường đến với người tiêu dùng để cùng nhau hành động vì một Việt Nam trong lành và phát triển bền vững.
							p Chúng tôi rất hân hạnh được đón tiếp quý đối tác, khách hàng tham quan, dùng thử sản phẩm của công ty cũng như trao đổi về cơ hội hợp tác tại gian hàng số 100-101.
							p Một số hình ảnh tại lễ hội dừa:
							.img
								.row.row-m
									.col-12.col-sm-6
										.img
											img.w-100(src="img/nc2.jpg", alt="")
									.col-12.col-sm-6
										.img
											img.w-100(src="img/nc3.jpg", alt="")
					.news-other
						.s-title Tin tức liên quan
						.news-list3
							ul
								li
									a(href="#!") Hội chợ Biofach 2020 – nơi gặp gỡ của ngành thực phẩm hữu cơ 
										span (07/10/2019)
								li
									a(href="#!") Công ty TNHH chế biến dừa lương quới tham gia hội chợ vietnam foodexpo năm 2019 
										span (05/10/2015)
								li
									a(href="#!") công ty TNHH chế biến dừa lương quới tham gia hội chợ nhập khẩu quốc tế trung quốc - ciie 2019 
										span (10/12/2015)
								li
									a(href="#!") [HOT] Ưu đãi đặc biệt cho khách hàng nhân dịp 2/9 
										span (10/12/2015)
								li
									a(href="#!") Công ty TNHH chế biến dừa lương quới đạt danh hiệu “doanh nghiệp xuất khẩu uy tín” năm 2018 
										span (07/10/2015)


			.col-12.col-lg-4.col-xl-3
				.qc
					.item
						a.img(href="#!")
							img(src="img/qc1.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc2.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc3.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc4.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/qc5.jpg", alt="")