section.career-page
	.container
		nav.picture-nav
			ul
				li.active
					a(href="#!") Vị trí tuyển dụng
				li 
					a(href="#!") Con người tại Lương Quới
				li.download
					a(href="#!") Download form CV
		.job-list
			.job-item
				.row
					.col-12.col-md-8
						.detail
							.name Nhân viên lái xe
							.des
								.content
									strong Mô tả công việc:
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
								a.viewdetail(href="#!") Xem chi tiết
					.col-12.col-md-4
						.info
							.title Thông tin chung
							ul
								li Số lượng: 02
								li Giới tính: Nam
								li Độ tuổi: trên 22 tuổi
								li Mức lương: thỏa thuận theo năng lực
							.btn-wrap
								a.bt-primary(href="#!") Nộp hồ sơ trực tuyến
			.job-item
				.row
					.col-12.col-md-8
						.detail
							.name Nhân viên lái xe
							.des
								.content
									strong Mô tả công việc:
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
								a.viewdetail(href="#!") Xem chi tiết
					.col-12.col-md-4
						.info
							.title Thông tin chung
							ul
								li Số lượng: 02
								li Giới tính: Nam
								li Độ tuổi: trên 22 tuổi
								li Mức lương: thỏa thuận theo năng lực
							.btn-wrap
								a.bt-primary(href="#!") Nộp hồ sơ trực tuyến
			.job-item
				.row
					.col-12.col-md-8
						.detail
							.name Nhân viên lái xe
							.des
								.content
									strong Mô tả công việc:
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
									p Đưa đón, chuyên chở Lãnh đạo, CBCNV Công ty hoặc khách hàng Công ty.
										br
										|Quản lý và bảo quản xe tốt, bảo đảm xe sạch sẽ và luôn trong tình trạng sẵn sàng phục vụ
										br
										|Bảo trì, bảo dưỡng xe đúng quy định.
										br
										|Giữ gìn bí mật nội dung công việc được trao đổi trên xe như bí mật kinh doanh của Công ty.
								a.viewdetail(href="#!") Xem chi tiết
					.col-12.col-md-4
						.info
							.title Thông tin chung
							ul
								li Số lượng: 02
								li Giới tính: Nam
								li Độ tuổi: trên 22 tuổi
								li Mức lương: thỏa thuận theo năng lực
							.btn-wrap
								a.bt-primary(href="#!") Nộp hồ sơ trực tuyến
