.breadcrumb-wrap
	.br-banner(style="background: url(img/br1.jpg) center center /cover no-repeat")

section.resource-page
	.container
		.row
			.col-12.col-md-8.col-lg-9
				.content
					.img.text-center
						img(src="img/bentre.png", alt="")
					p Bến Tre nằm ở hạ nguồn sông Mekong, được hợp thành bởi 3 cù lao lớn, là những cụm cù lao cuối cùng nhận đẫm phù sa của dòng Mekong trước khi chảy ra biển hình thành nguồn đất phù sa màu mỡ, giàu mùn, là nguồn dinh dưỡng hữu cơ tự nhiên tạo nên những quả dừa Bến Tre khác biệt. Dừa trái to, cơm dầy, giàu dưỡng chất, giàu dầu, nước dừa cực tươi, ngon ngọt.
			.col-12.col-md-4.col-lg-3
				.content
					.img.text-center
						img(src="img/vn.png", alt="")
		.home-title.text-center Biểu đồ thể hiện nhiệt độ và lượng mua ở tỉnh bến tre
		.content
			.img.text-center
				img(src="img/chart.png", alt="")
			.row
				.col-12.col-md-6
					p.text-center.text-24 Bến Tre - xứ sở dừa Việt Nam, nơi có diện tích trồng dừa lớn nhất cả nước, chiếm 40%
			.img.text-center
				img(src="img/connguoi.png", alt="")
		.home-title.text-center So sánh dừa việt nam và dừa thế giới
		.row
			.col-12.col-md-6
				.img.mb-5
					img(src="img/ss1.png", alt="")
			.col-12.col-md-6
				.img.mb-5
					img(src="img/ss2.png", alt="")
		.home-title.text-center Phát triển vùng nguyên liệu hữu cơ
		.content
			p.text-center Với tôn chỉ hoạt động “An toàn, Chất lượng, Trách nhiệm để phát triển bền vững” cùng tâm nhìn trở thành một doanh nghiệp “thân thiện với môi trường”, công ty TNHH Chế Biến Dừa Lương Quới không chỉ tiên phong làm sản phẩm dừa giá trị gia tăng cao mà còn không ngừng mở rộng diện tích vùng trồng dừa hữu cơ. Từ 400 ha đầu tiền với sản lượng 6 triệu trái/năm đến nay đã phát triển trên 2.900 ha với sản lượng tương đương 41 triệu trái/năm. Vùng nguyên liệu phân bổ là Mỏ Cày Nam, Giồng Trôm, Bình Đại, Thạnh Phú.
			.row
				.col-12.col-md-6.col-lg-7
					.img
						img(src="img/vnl1.jpg", alt="")
				.col-12.col-md-6.col-lg-5
					.img
						img(src="img/vnl2.png", alt="")
		.home-title Chứng nhận hữu cơ
		.vnl-slide
			.item
				.logo
					img(src="img/vnllogo.png", alt="")
			.item
				.logo
					img(src="img/vnllogo.png", alt="")
			.item
				.logo
					img(src="img/vnllogo.png", alt="")
			.item
				.logo
					img(src="img/vnllogo.png", alt="")
			.item
				.logo
					img(src="img/vnllogo.png", alt="")